<% layout('boilerplate') -%>
<h1>Shop smart, SaveBig</h1>
<p>Startingg point to make something more unique</p>
<p>Signup to start buing</p>
<h3>Start your search here</h3>

<h3>Look for smart Items..?</h3>

<h3>Build a smart Cart</h3>
<p>the more smart items you buy together</p>